= form_for @order do |form|

  .field
    = form.label :name, "氏名："
    = form.text_field :name, :size => 40

  .field
    = form.label :address, "住所："
    = form.text_area :address, :rows => 3, :cols => 40

  .field
    = form.label :email, "Eメール："
    = form.text_field :email, :size => 40

  .field
    = form.label :pay_type, "支払方法："
    = form.select :pay_type, Order::PAYMENT_TYPES, :prompt => "---"

  %h3 売上明細

  = form.fields_for :line_items do |line_item_form|
    = render :partial => "orders/line_item", :locals => {:f => line_item_form}    

  %p
    = add_child_link "[明細の追加]", form, :line_items, {:id => "add_new_line_item_link"}, {:partial => "orders/line_item"}

  .action
    = form.submit "保存", :class => "submit"

